body {
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f2f9ff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .forgot {
    background-color: rgba(255, 255, 255, 0.9);
    background-image: url("asset/forgot_password.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    width: 23rem;
    padding: 2rem;
    border-radius: 12px;
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  
  form h1 {
    font-size: 1.8rem;
    margin-bottom: 1rem;
    color: #004085;
  }
  
  label {
    display: block;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: #333;
    text-align: left;
  }
  
  input[type="email"] {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: 500;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 1.2rem;
    background-color: #5a3fc0;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  input[type="submit"]:hover {
    background-color: #442e9c;
  }
  